<div class="nav">
    <div class="logo">  
        Logo
    </div>
    <div class="nav-icons">
        <div class="home">
            <a href="/">Home</a>
        </div>
        <div class="feature">
            <a href="/feature">Features</a>
        </div>
        <div class="contact">
            <a href="/contact">Contact Us</a>
        </div>
        <div class="contact">
            <a href="/alumuni">Connect</a>
        </div>
        <div class="login">
            <a href="/login" >Login / Register</a>
        </div>
    </div>
</div>