<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>feature</title>
  <link rel="stylesheet" href="../stylesheets/styleFeature.css">
  <link rel="stylesheet" href="../stylesheets/styleHome.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container">
    
    <div class="card">
      <div class="card-content">
        <h2>1.Your network of alumni, your net worth</h2>
        <p>Alumni connections provide valuable mentorship and networking opportunities for students, helping them explore career paths and gain industry insights.</p>
      </div>
      <div class="card-image">
        <img src="../images/feature/alumni.jpeg" alt="Image 1">
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2>2.Elevate your career: Seek mentorship and learn from the best.</h2>
        <p>MentorCruise connects aspiring mentees with industry experts for mentorship in fields like software engineering, AI, design, and business.
            .</p>
      </div>
      <div class="card-image">
        <img src="../images/feature/interact.jpeg" alt="Image 2">
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2>3.Interactive Program with Alumni</h2>
        <p>Interactive program connecting students with accomplished alumni for mentorship, guidance, and networking opportunities.
            Alumni share valuable insights.</p>
      </div>
      <div class="card-image">
        <img src="../images/feature/handshake.jpeg" alt="Image 3">
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2>4.Free Webinar and Alumni Guidelines</h2>
    <p>We're excited to offer a series of FREE webinars featuring insightful discussions with accomplished alumni and industry experts, as well as personalized guidance from experienced alumni mentors, all within the every week!"</p>
      </div>
      <div class="card-image">
        <img src="../images/feature/webbanner.jpg" alt="Image 4">
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2>5.Accelerate your career</h2>
        <p>"Unlock Your Future with us.. "
             Join our FREE chat session and get personalized solutions to your questions. Discover the in-demand technical skills and technologies that can boost your career.</p>
      </div>
      <div class="card-image">
        <img src="../images/feature/network.jpg" alt="Image 5">
      </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2>6.hidden perkes and advantage</h2>
            <p>Create a standout resume that gets noticed
                Earn valuable certificates that enhance your credibility
                Build a strong network of references that open doors
                "Don't miss this opportunity to transform your career "</p>
        </div>
        <div class="card-image">
            <img src="../images/feature/oper.avif" alt="Image 6">
        </div>
    </div>
  </div>
  <!-- <script src="../javascripts/featureScript.js"></script> -->

</body>
</html>
