<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/styleHome.css">
</head>
<body>
    <div class="main-container">
        <%- include('partials/navbar') %>
        
            <div class="main">
              <div class="upContent">
                <div class="text">
                    <p>Celebrating Our Roots, <br> &nbsp;&nbsp;&nbsp;&nbsp;Cultivating Our Future.</p>
                </div>
                <div class="images">
                    <div class="upperImg">
                        <div class="img1 img"></div>
                        <div class="img2 img"></div>
                    </div>
                    <div class="lowerImg">
                        <div class="img3 img"></div>
                        <div class="img4 img"></div>
                    </div>
                </div>
              </div>
              <div class="downContent">
                <div class="images">
                    <div class="upperImg">
                        <div class="img5 img"></div>
                        <div class="img6 img"></div>
                    </div>
                    <div class="lowerImg">
                        <div class="img7 img"></div>
                        <div class="img8 img"></div>
                    </div>
                </div>
                <div class="text">
                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hey Guys Together, <br> We Achieve More.</p>
                </div>
              </div>
                </div>
        
        <div class="footer">
            <div class="products">
                <h3 style="text-align: center;">Products</h3>
                <a href="#">Essential Alumini and Sonor Data</a>
                <a href="#">Prospectus & Alumini News</a>
                <a href="#">Alumini Network for Institutions</a>
                <a href="#">Alumini Network for Corporate</a>
            </div>
            <div class="about">
                <h3 style="text-align: center;">About</h3>
                <a href="#">Clients</a>
                <a href="#"> Contact us</a>
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="address">
                 
            </div>
        </div>
    </div>
</body>
</html>