body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    width: 80%;
    height: 90%;
    background: #ffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    width: 30%;
    background: #f0f2f5;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 15px;
    background: #5fdcba;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.contact-list {
    flex: 1;
    overflow-y: auto;
}

.contact {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.contact img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact:hover {
    background: #e5ddd5;
}

.chat-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #ddf4ff;
}

.message {
    margin-bottom: 10px;
}

.message.sent {
    text-align: right;
}

.message-text {
    display: inline-block;
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    background: #dcf8c6;
    font-size: 14px;
}

.message.received .message-text {
    background: #fff;
}

.chat-footer {
    display: flex;
    padding: 10px;
    background: #f0f2f5;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
}

.chat-footer button {
    margin-left: 10px;
    padding: 10px 15px;
    background: #66a8df;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.chat-footer button:hover {
    background: #3650d1;
}